ion-content {
  --background: url("../../assets/loginImages/content-bg.png") no-repeat !important;
  position: relative;
}
.labelData-text{
  color: #5448cb;font-size: 14px;font-weight: bold;
}
.labelHead-text{
  font-size: 14px;
}
