ion-content {
  --background: url("../../assets/loginImages/content-bg.png") no-repeat !important;
  position: relative;
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0.55px;
  --min-height: 61px;
}

.header{
  background: linear-gradient(#4d40D0, #1607bf);
  color: #fff;
}
.col-card-arrow {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}
.labelData-text {
  color: #5448cb;
  font-size: 14px !important;
  font-weight: bold;
}
.labelHead-text {
  font-size: 14px !important;
}
.card_header_text {
  font-weight: 800;
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0.55px;
  --min-height: 61px;
}

.header {
  background: linear-gradient(#4d40d0, #1607bf);
  color: #fff;
}
